{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <nav class="nav">
            <div class="container">
                <div class="logo">
                    <a href="{{ path('app_main') }}">
                        <img src={{ asset('images/touspour1logo.png') }} alt="logo_touspourun"/>
                    </a>
                </div>
                <div class="main_list" id="mainListDiv">
                    <ul>
                        <li><a href="{{ path('app_main') }}">Accueil</a></li>
                        <li><a href="{{ path('app_blog_show') }}">Cours</a></li>
                        <li><a href="#">Forum</a></li>
                        <li><a href="{{ path('app_contact') }}">Contact</a></li>
                        {% if app.user %}
                            <li><a href="{{ path('app_logout')}}" class="navbarBtn">Logout</a></li>
                        {% else %}
                            <li><a href="{{ path('app_register')}}" class="navbarBtn">Sign In</a></li>
                            <li><a href="{{ path('app_login')}}" class="navbarBtn">Log In</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="media_button">
                    <button class="main_media_button" id="mediaButton">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}
